.timer-style {
  margin: 60px 0;
  width: 100%;
  border: none;
  text-align: center;
  color: #4e4e4e;
  background: transparent;
  outline: none;
  padding: 0;
  font: 400 90px Roboto, sans-serif;
  letter-spacing: normal;
}
